.container{
    width: auto;
    padding: 10px;
    display: flex;
}
.container header{
    border: 2px solid black;
    width: 100%;
    height: 40px;
    padding: 0 10px;
    min-height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;   
}

.underHeader {
    display: flex;
    justify-content: center;
    padding: 0 10px
}

.loginWindow {
    border: 2px solid black;
    width: 25%;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    margin-top: 100px;
    align-items: center;
}

.eachField {
    width: 80%;
    margin-top: 10px;
    border: 2px solid black;
    padding-left: 5px;
}

.confirmButton {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 2px;
    width: 25%;
    background-color: transparent;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}