.container{
    width: auto;
    padding: 10px;
    display: flex;
}
.container header{
    border: 2px solid black;
    width: 100%;
    height: 40px;
    padding: 0 10px;
    min-height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;   
}

.container header a {
    margin-right: 20px
}

.underHeader {
    display: flex;
    flex-direction: row;
    padding: 0 10px
}

.leftMenu {
    position: relative;
    border: 2px solid black;
    width: 15%;
    margin-right: 20px
}

.mainContent {
    width: calc(85% - 38px);
    padding-left: 10px;
    overflow: scroll;
    width: 100%; 
    height: 500px; 
    padding: 5px; 
    border: solid 1px black; 
}

.eachItem {
    width: 100%;
    border: 2px solid black;
    min-height: 40px;
    margin-bottom: 10px;
    height: 250px;
}

.eachItems {
    width: 100%;
    border: 2px solid black;
    min-height: 40px;
    margin-bottom: 10px;
    height: 250px;
}

.layer {
    overflow: scroll;
    width: 100%; 
    height: 150px; 
    padding: 5px; 
    border: solid 1px black; 

}

.footer{
    width: auto;
    margin-top: 10px;
    border: 2px solid black;
    height: 40px;
    padding: 0 10px;
    min-height: 40px;
} 
