.container{
    width: auto;
    padding: 10px;
    display: flex;
}
.container header{
    border: 2px solid black;
    width: 100%;
    height: 40px;
    padding: 0 10px;
    min-height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;   
}

.underHeader {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    padding: 0 10px
}

.nameContent {
    display : flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
    width: 99%;
    margin-top: 10px;
    margin-bottom: 20px;
    height: 110px;
}
.mainContent {
    border: 2px solid black;
    width: 98%;
    overflow: scroll;
    height: 500px; 
    padding: 5px; 
    border: solid 1px black; 
}

.eachItem {
    width: 100%;
    border: 2px solid black;
    min-height: 40px;
    margin-bottom: 10px;
    height: 250px;
}

.eachItems {
    width: 100%;
    border: 2px solid black;
    min-height: 40px;
    margin-bottom: 10px;
    height: 250px;
}

.layer {
    overflow: scroll;
    width: 100%; 
    height: 150px; 
    padding: 5px; 
    border: solid 1px black; 

}

.footer{
    width: auto;
    margin-top: 10px;
    border: 2px solid black;
    height: 40px;
    padding: 0 10px;
    min-height: 40px;
}

.newPostButton{
    cursor: pointer;
    
}